---
import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";
import { Heading } from "../components";
import Base from "../layouts/Base.astro";
import { cn } from "../styles/cn";
import { getIcon } from "../styles/icon";

const data = await getEntry("configs", "brewfile");

const { brew, cask } = data?.data as Record<"brew" | "cask", string[]>;
---

<Base>
	<div class="flex justify-around relative flex-col">
		<div>
			<Heading id="brew" class="py-4">Brew packages ({brew.length})</Heading>
			<ul class="grid grid-cols-2 md:grid-cols-3 gap-2 text-center">
				{
					brew
						.sort((a, b) => a.localeCompare(b))
						.map((pkg) => {
							const icon = getIcon(pkg);
							return (
								<li>
									<a
										href={`https://formulae.brew.sh/formula/${pkg}`}
										target="_blank"
										rel="noreferrer"
										class={cn("flex gap-2 items-center justify-start", {
											"ml-6": !icon,
										})}
									>
										{icon && <Icon name={icon} />}
										<span> {pkg}</span>
									</a>
								</li>
							);
						})
				}
			</ul>
		</div>
		<div>
			<Heading id="cask" class="py-4">
				Brew cask packages ({cask.length})
			</Heading>
			<ul class="grid grid-cols-2 md:grid-cols-3 gap-2 text-center">
				{
					cask
						.sort((a, b) => a.localeCompare(b))
						.map((pkg) => {
							const icon = getIcon(pkg);
							return (
								<li>
									<a
										href={`https://formulae.brew.sh/cask/${pkg}`}
										target="_blank"
										rel="noreferrer"
										class={cn("flex items-center gap-2 justify-start", {
											"ml-6": !icon,
										})}
									>
										{icon && <Icon name={icon} />}
										<span> {pkg}</span>
									</a>
								</li>
							);
						})
				}
			</ul>
		</div>
	</div>
</Base>
